---
# Enviroment
env: dev

# Php
php_fpm_socket: /var/run/php5-fpm.sock
php_memory_limit: 128M
php_date_timezone: Australia/Melbourne
php_max_execution_time: 30
php_upload_max_filesize: 5M

# Nginx
nginx_upload_max_filesize: 5M

# Symfony
site_domain: symfony.local
site_url: symfony.local
site_parent_dir: /var/www/
site_root_dir: /var/www/{{ site_url }}

# Database
database_name: symfony
database_user: symfony
database_pass: pass
database_host: localhost

# Mail
mailer_transport:  smtp
mailer_host:       smtp.gmail.com
mailer_user:       someuser@gmail.com
mailer_password:   pass
mailer_encryption: ssl
mailer_port:       465

# Repository
repo_url: git@github.com:nejibem/symfony-example.git
repo_remote: origin
repo_version: master

# Ansible
# ansible_ssh_user: vagrant
# ansible_ssh_private_key_file: ''
