{% extends 'AppBundle:Template:base.html.twig' %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}

    <div class='row'>
        <div class='col-md-12'>

            <div class="page-header">
                <h1>Reset Password</h1>
            </div>

            {{ include('AppBundle:Template:layout_alert.html.twig', {'successMessages': successMessages, 'errorMessages': errorMessages}) }}

            <div>
                <p><a href="/auth/login">Click here</a> to login.</p>
            </div>

        </div>
    </div>

{% endblock %}